name: Rust

on:
  push:
    branches: ["master"]
    tags: ["v*"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install mingw-w64
        run: sudo apt-get install -y mingw-w64
      - name: Add x86_64 target
        run: rustup target add x86_64-pc-windows-gnu
      - name: Build
        run: cargo build --verbose --release --target x86_64-pc-windows-gnu
      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: target/x86_64-pc-windows-gnu/release/Rust-WakeOnLAN.exe
