name: Rust

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install mingw-w64
        run: sudo apt-get install -y mingw-w64
      - name: Add x86_64 target
        run: rustup target add x86_64-pc-windows-gnu
      - name: Build
        run: cargo build --verbose --target x86_64-pc-windows-gnu
      - name: Upload Artifact
        uses: actions/upload-artifact@v5
        with:
          name: rust-wol-windows
          path: target/x86_64-pc-windows-gnu/release/Rust-WakeOnLAN.exe
